@import url("https://eloquentui.netlify.app/styles/app.css");

.app {
  background-color: #333335;
  height: 100vh;
}

.questions {
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center !important;
}

/* Header Styles */
.nav_logo {
  text-decoration: none;
  margin-left: 2rem;
  font-size: x-large;
  color: #fff;
}

.navbar {
  overflow: hidden;
  background-color: #333335;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 4;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 15px 10px 0 rgb(0 0 0 / 30%);
}

.headerUser {
  margin: auto;
  text-decoration: none;
  font-size: xx-large;
  font-weight: 500;
  color: #fff;
}

.headerScore {
  margin-right: 1rem;
  text-decoration: none;
  font-size: xx-large;
  font-weight: 500;
  color: #fff;
}

/* Question Card */
.reset_button {
  margin-right: 1rem;
}

.option__button {
  margin-bottom: 1rem;
}

/* Home */

.home__block {
  color: #fff;
  margin-top: 4rem;
  justify-content: center;
  padding-top: 3rem;
  text-align: center !important;
  padding-left: 20rem;
  padding-right: 20rem;
  overflow: hidden;
}

.home__image {
  padding: 1rem 0rem 1rem 0rem;
  height: 550px;
  width: 550px;
}

.home__block__text {
  padding: 0rem 1rem 1rem 1rem;
}

/* Body */

.bodyContainer {
  margin-top: 5rem !important;
  width: 500px;
  height: 300px;
  z-index: 5;
  margin: auto;
}

/* Result */
.result__link {
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.result__card {
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center !important;
}

.result__card__container {
  margin-top: 5rem !important;
  width: 500px;
  height: 150px;
  z-index: 5;
  margin: auto;
}

/* Media Queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav_logo {
    text-decoration: none;
    margin-left: 7px !important;
    font-size: small;
    color: #fff;
  }

  .headerUser {
    margin: auto;
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    color: #fff;
  }

  .home__block {
    color: #fff;
    margin-top: 4rem;
    padding-left: 10px;
  }

  .home__image {
    margin-left: 20px;
    height: 350px;
    width: 350px;
  }

  .home__block__text {
    margin-left: 10px;
    width: 350px;
  }

  .home__header {
    font-size: x-large;
    width: 400px;
  }

  .home__button--result {
    position: absolute;
    bottom: -15%;
    left: 35%;
    padding-bottom: 1rem;
  }

  .app {
    background-color: #333335;
    height: 50rem;
  }

}